.Product {
  width: 25%;
  margin: 20px;
  height: 300px;
  margin: 2.5rem 1.5rem;
}
.Title {
  text-align: center;
  }

.AddProduct {
  width: 100%;
  height: 35px;
  display: none;
  text-align: center;
  position: relative;
  top: 89%;
  cursor: pointer;
  background-color: rgba(228, 223, 222, 0.9);
  background-position: center;
}

.Image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.Image:hover .AddProduct{
  display: block;
}

.Desc {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0

}
